body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	margin: 0;
	overflow: hidden;
}

* {
    -webkit-box-sizing: border-box; /* Chrome, Safari */
       -moz-box-sizing: border-box; /* Firefox */
            box-sizing: border-box;
}

/* リンク設定 */
a:link { color: #2187FF; text-decoration: none; }
a:visited { color: #875BFF;  text-decoration: none; }
a:hover { color: #3552E8; text-decoration: underline; }
a:active { color: #3552E8; text-decoration: underline; }

.text {
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 6px 10px;
    resize: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: solid 1px #ccc;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.text:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.hidden {
	display: none;
}

.panel {
    margin: 30px;
}

.panel .panel-header {
    padding: 10px;
    border: 2px solid rgb(124, 124, 124);
    border-bottom: .5px solid rgb(124, 124, 124);
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(240, 240, 240);
}

.panel .panel-content {
    padding: 10px;
    border: 2px solid rgb(124, 124, 124);
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.submit {
	text-align: center;
	font-size: 1.25rem;
}

.btn {
	/* border: 1px solid #FFF; */
	display: block;
	width: 100%;
	margin: 20px 0;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	background-color: rgb(0, 107, 254);
	color: #FFF;
    user-select: none;
    vertical-align: middle;
}

.btn:active {
    background-color: rgb(5, 86, 198);
		color: #FFF;
		text-decoration: none;
}
.btn:hover {
    color: #cccccc;
		text-decoration: none;
}

.btn.inline {
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 3px 1rem;
    font-size: 1rem;
    border-radius: 2.5px;
}

img {
	border: 1px solid #000;
	image-rendering: pixelated;
	width: 100%;
	height: 100%;
	/* zoom: 25; */
}

hr {
	border: 0;
	border-top: 1px solid #E3E3E3;
}

footer {

}

.copyright{
	text-align: center;
	color: #929292;
	font-size: 14px;
}

.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    margin: 0;
    padding: 2px 5px;
    outline: 0;
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    box-sizing: content-box;
}

.code {
	border-radius: 10px;
	padding: 10px;
	border: rgb(77, 77, 77) solid 1px;
	background-color: rgb(238, 238, 238);
	margin: 0;
}


.dialog-wrapper{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
    transition: ease 200ms opacity;
    user-select: none;
	&.show{
		opacity: 1;
		pointer-events: all;
		.dialog {
			transform: scale(1);
		}
	}
	&.closing{
		opacity: 0;
		pointer-events: none;
		.dialog {
			transform: scale(0.8);
		}
	}
	.dialog{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		width: 50%;
		padding: 10px;
		margin: 10px;
		border: 1px solid rgb(39, 39, 39);
		text-align: center;
		border-radius: 10px;
		flex-direction: column;
		transform: scale(1.2);
        transition: ease 250ms transform;
        // user-select: auto;
        filter: drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.6));
        &.dark{
            background-color: rgb(7, 7, 23);
            border: 1px solid rgb(36, 36, 36);
            color: #FFF;
        }
		.icon{
			font-size: 2rem;
		}
		.txt{
			font-size: 1.1rem;
			user-select: text;
		}
		.button{
			margin-top: 10px;
    		font-size: 0.8rem;
    		background-color: #006eff;
    		color: #FFF;
    		border-radius: 10px;
   		 	padding: 10px 50px;
   		 	user-select: none;
			cursor: pointer;
			&:hover{
				background-color: #4294ff;
			}	
			&:active{
				background-color: #004196;
			}
		}
	}
}
